
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
/*    font-family: $icon-font-family, sans-serif !important;*/
    speak: none;
    font-style: normal;
/*    font-weight: normal;
*/  font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
}

.image-tab-questions:before {
    content: url(../images/questions/tab_questions.svg);
}

.image-questions:before {
    content: url(../images/questions/questions.svg);
}

.image-link-questions:before {
    content: url(../images/questions/link_questions.svg);
}

.image-table:before {
    content: url(../images/questions/table_recap.svg);
}

.image-schema:before {
    content: url(../images/questions/schema_recap.svg);
}

.icon-chevron-left:before {
    content: url(../images/shared/chevron_left.svg);
}

.icon-chevron-right:before {
    content: url(../images/shared/chevron_right.svg);
}

.icon-chevron-left-white:before {
    content: url(../images/shared/chevron_left_white.svg);
}

.icon-chevron-right-grey:before {
    content: url(../images/shared/chevron_right_grey.svg);
}

.icon-chevron-right-white:before {
    content: url(../images/shared/chevron_right_white.svg);
}

.icon-chevron-right-blue:before {
    content: url(../images/shared/chevron_right_blue.svg);
}

.icon-legal-doc:before {
    content: url('../images/questions/legal-doc.svg');
}

.icon-loader-white:before {
    content: url('../images/loader/loader_white.svg');
}

.icon-loader-payment:before {
    content: url('../images/loader/loader_payment.svg');
}

.icon-synchronize:before {
    content: url('../images/synchronize.svg');
}

.icon-folder:before {
    content: url('../images/trends/icon_folder.svg');
}

.icon-testimony:before {
    content: url('../images/trends/icon_testimony.svg');
}

.icon-search:before {
    content: "\ab01";
}

.icon-notification:before {
    content: "\ab02";
}

.icon-account:before {
    content: "\ab03";
}

.icon-chat:before {
    content: "\ab04";
}

.icon-facebook:before {
    content: "\ab05";
}

.icon-copy-link:before {
    content: url(../images/shared/copy_link.svg);
}

.icon-copied-link:before {
    content: url(../images/shared/copied_link.svg);
}

.icon-twitter:before {
    content: "\ab06";
}

.icon-linkedin:before {
    content: "\ab07";
}

.icon-youtube:before {
    content: "\ab08";
}

.icon-chevron-down:before {
    content: "\ab09";
}

.icon-chevron-up:before {
    content: "\ab10";
}

.icon-check-circle:before {
    content: "\ab11";
}

.icon-close:before {
    content: "\ab12";
}

.icon-arrow-left:before {
    content: "\ab13";
}

.icon-arrow-right:before {
    content: "\ab14";
}

.icon-favorite:before {
    content: "\ab15";
}

.icon-download:before {
    content: "\ab16";
}

.icon-print:before {
    content: "\ab17";
}

.icon-share:before {
    content: "\ab18";
}

.icon-sub-sub-theme:before {
    content: "\ab19";
}

.icon-sub-theme:before {
    content: "\ab20";
}

.icon-informe:before {
    content: "\ab21";
}

.icon-prepare:before {
    content: "\ab22";
}

.icon-agrume1:before {
    content: "\ab23";
}

.icon-agrume-tooltip:before {
    content: url(../images/agrume/agrume_tooltip.svg);
}

.icon-tendance:before {
    content: "\ab24";
}

.icon-calcul:before {
    content: "\ab25";
}

.icon-retroplanning:before {
    content: "\ab26";
}

.icon-modele:before {
    content: "\ab27";
}

.icon-powerpoint:before {
    content: "\ab28";
}

.icon-scale:before {
    content: "\ab29";
}

.icon-copy:before {
    content: "\ab30";
}

.icon-attention:before {
    content: "\ab31";
}

.icon-remarque:before {
    content: "\ab32";
}

.icon-astuce:before {
    content: "\ab33";
}

.icon-exemple:before {
    content: "\ab34";
}

.icon-tooltip:before {
    content: "\ab35";
}

.icon-edit:before {
    content: "\ab36";
}

.icon-trash:before {
    content: "\ab37";
}

.icon-more:before {
    content: "\ab38";
}

.icon-menu:before {
    content: "\ab39";
}

.icon-mail:before {
    content: "\ab40";
}

.icon-play-circle:before {
    content: "\ab41";
}

.icon-eye-visible:before {
    content: "\ab42";
}

.icon-eye-invisible:before {
    content: "\ab43";
}

.icon-arrow-circle-left:before {
    content: "\ab44";
}

.icon-arrow-circle-right:before {
    content: "\ab45";
}

.icon-external-link:before {
    content: "\ab46";
}
