@media (max-width: 1430px) and (min-width: 1024px) {

    .content-sidebar {
        .blocks-container {
            .three-blocks-container {

                .all-tools {
                    border-color: #A3A3A3;
                    background-color: #fafafa;
                    padding: 24px !important;
                    display: flex;
                    flex-direction: column;

                    .see-all-tools {
                        margin-inline-start: auto;
                        padding: 10px 16px 10px 16px;
                        background: #5b528c 0% 0% no-repeat padding-box;
                        text-align: center;
                        font: normal normal normal 14px/18px Fira Sans;
                        letter-spacing: 0;
                        color: #fff;
                        opacity: 1;

                        &:hover {
                            background-color: #241866;
                        }
                    }
                }

                .learn-bloc {
                    border-color: #A3A3A3;
                    background-color: #fafafa;
                }

                .all-proc {
                    border-color: #A3A3A3;
                    background-color: #fafafa;
                    padding: 24px !important;
                    display: flex;
                    flex-direction: column;
                    color: #40b2a1;
                    fill: currentColor;

                    .see-all-proc {
                        margin-inline-start: auto;
                        padding: 10px 16px 10px 16px;
                        background: #40B2A1 0% 0% no-repeat padding-box;
                        text-align: center;
                        font: normal normal normal 14px/18px Fira Sans;
                        letter-spacing: 0;
                        color: #fff;
                        opacity: 1;

                        &:hover {
                            background-color: #009881;
                        }
                    }
                }
            }
        }
    }
}





/*    @media (max-width: 1024px) and (min-width: 768px) {
*/    @media (min-width: 1024px) {

    .wrap {
        padding-right: 50px;
        padding-left: 50px;

        .bloc-title {
            .majdate {
                display: block;
                font-weight: normal;
                font-size: 14px;
                margin-top: 4px;
                padding-bottom: 16px;
                margin-bottom: 0;
            }
        }

        .content-sidebar {
            display: block;

            .blocks-container {

                .three-blocks-container {
                    flex-direction: column !important;
                    margin-bottom: 16px;

                    .learn-bloc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                    }

                    .all-proc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        padding: 24px !important;
                        display: flex;
                        flex-direction: column;
                        color: #40b2a1;
                        fill: currentColor;

                        .see-all-proc {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #40B2A1 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #009881;
                            }
                        }
                    }

                    .all-tools {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        padding: 24px !important;
                        display: flex;
                        flex-direction: column;

                        .see-all-tools {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #5B528C 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #241866;
                            }
                        }
                    }

                    .see-all {
                        color: currentColor;
                        /* opacity: 1;
                            height: 19px;
                            width: 83px;
                            margin-right: 24px;*/
                        margin-top: 24px;
                        margin-inline-start: auto;

                        &:hover,
                        :focus {
                            outline: none;
                            text-decoration: underline;
                        }

                        svg {
                            fill: currentColor;
                            width: 16px;
                            height: 13px;
                        }
                    }



                    .block-header {
                        margin-inline-end: auto;
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                    }



                    .item-wrap {
                        padding: 24px;



                        h2 {
                            margin: 0px;
                        }
                    }
                }

                .tendances {
                    margin-bottom: 16px;
                    padding: 24px;

                    &:hover {
                        color: #fff;
                        background-color: rgba(236,88,98,.5);

                        h3 {
                            color: #fff;
                        }
                    }

                    .block-header-trend {
                        margin-bottom: 16px;
                        margin-right: 37px;
                        align-items: center;
                        display: flex;
                        flex-direction: row-reverse;
                        padding: 0px;

                        h3 {
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .aside {
                padding: 16px;
                margin-left: 0px;
                width: 295px;
                margin-bottom: 40px;

                hr {
                    margin-top: 18px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    }

   
@media (max-width: 1024px) and (min-width: 768px) {

    .wrap {
        padding-right: 16px;
        padding-left: 16px;

        .bloc-title {
            .majdate {
                display: block;
                font-weight: normal;
                font-size: 14px;
                margin-top: 4px;
                padding-bottom: 16px;
                margin-bottom: 0;
            }
        }

        .content-sidebar {
            display: block;

            .\-flex {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;
            }

            .blocks-container {
                .formation-trend {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }

                .three-blocks-container {
                    flex-direction: column !important;
                    display: block;
                    margin-bottom: 0;

                    .learn-bloc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                    }

                    .all-proc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        display: flex;
                        flex-direction: column;
                        color: #40b2a1;
                        fill: currentColor;

                        .see-all-proc {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #40B2A1 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #009881;
                            }
                        }
                    }

                    .all-tools {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        display: flex;
                        flex-direction: column;

                        .see-all-tools {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #5B528C 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #241866;
                            }
                        }
                    }

                    .see-all {
                        color: currentColor;
                        margin-top: 24px;
                        margin-inline-start: auto;

                        &:hover,
                        :focus {
                            outline: none;
                            text-decoration: underline;
                        }

                        svg {
                            fill: currentColor;
                            width: 16px;
                            height: 13px;
                        }
                    }

                    .presentation-info {
                        display: flex;
                        flex-direction: column;
                        margin-top: 24px;


                        a {
                            color: #005B92;
                            display: unset;

                            &:hover,
                            :focus {
                                outline: none;
                                text-decoration: underline;
                            }
                        }
                    }

                    .presentation-other-info span {
                        padding: 2px 8px 2px 8px;
                        width: fit-content;
                        border: 1px solid #ec5862;
                        border-radius: 3px;
                        opacity: 1;
                        font-size: 11px;
                        border: 1px solid #ec5862;
                        font-weight: 900;
                        line-height: normal;
                    }

                    .presentation-other-info {
                        width: 100%;
                        display: flex;
                        margin-top: 32px;
                        flex-direction: row;

                        .retroplanning-info {
                            line-height: normal;
                            border-color: #5B528C;
                            width: fit-content;
                            padding: 2px 8px 2px 8px;
                        }


                        .calculator-info {
                            text-transform: uppercase;
                            line-height: normal;
                            border-color: #5B528C;
                            width: fit-content;
                            padding: 2px 8px 2px 8px;
                        }

                        .other-info {
                            width: 50%;
                            display: flex;
                            flex-direction: row;

                            div {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }

                            &:first-child {
                                &:after {
                                    content: "";
                                    background-color: #dadada;
                                    width: 1px;
                                    height: 47px;
                                    margin: 0px 24px 0px 24px;
                                }
                            }
                        }

                        a {
                            margin-top: 9px;
                            color: #005B92;
                            display: unset;

                            &:hover,
                            :focus {
                                outline: none;
                                text-decoration: underline;
                            }
                        }
                    }

                    .item {
                        width: 100%;
                        padding-right: 0px;
                        padding-bottom: 24px;

                        .item-wrap {
                            padding: 24px;
                            flex-direction: column;



                            .block-header {
                                margin-inline-end: auto;
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;
                            }

                            .icon-background {
                                width: unset;
                                height: unset;
                                margin: 0 16px 0 0;
                                background-image: none;

                                .icon {
                                    width: 24px;
                                    height: 24px;
                                    margin-top: 0;
                                }
                            }

                            .desc {
                                max-width: unset;
                            }

                            h2 {
                                margin-bottom: 0px;
                                font-size: 24px;
                                padding: 0;
                            }
                        }
                    }
                }

                .tendances {
                    margin-bottom: auto;
                    margin-left: 16px;
                    width: 50%;
                    padding: 24px;

                    &:hover {
                        color: #fff;
                        background-color: rgba(236,88,98,.5);

                        h3 {
                            color: #fff;
                        }
                    }

                    h3 {
                        padding-bottom: 8px;
                        width: 200px;
                        overflow: hidden;
                        margin-right: auto;
                        font-size: 20px;
                    }

                    .block-header-trend {
                        align-items: center;
                        display: flex;
                        flex-direction: row-reverse;
                        padding: 0px;

                        h3 {
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                        }
                    }

                    .icon-background {
                        display: none;
                    }

                    &.disabled h3 {
                        width: 150px;
                    }
                }
            }

            .aside {
                padding: 16px;
                margin-left: 0px;
                width: 50%;
                margin-bottom: 40px;

                hr {
                    margin-top: 18px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    }




   @media (max-width: 768px) and (min-width: 320px) {

    .wrap {
        padding-right: 16px;
        padding-left: 16px;

        .bloc-title {
            .majdate {
                display: block;
                font-weight: normal;
                font-size: 14px;
                margin-top: 4px;
                padding-bottom: 16px;
                margin-bottom: 0;
            }
        }

        .content-sidebar {
            display: block;

            .\-flex {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;
            }

            .blocks-container {
                .formation-trend {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .three-blocks-container {
                    flex-direction: column !important;
                    display: block;
                    margin-bottom: 0;

                    .learn-bloc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                    }

                    .all-proc {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        display: flex;
                        flex-direction: column;
                        color: #40b2a1;
                        fill: currentColor;

                        .see-all-proc {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #40B2A1 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #009881;
                            }
                        }
                    }

                    .all-tools {
                        border-color: #A3A3A3;
                        background-color: #fafafa;
                        display: flex;
                        flex-direction: column;

                        .see-all-tools {
                            margin-inline-start: auto;
                            padding: 10px 16px 10px 16px;
                            background: #5B528C 0% 0% no-repeat padding-box;
                            text-align: center;
                            font: normal normal normal 14px/18px Fira Sans;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;

                            &:hover {
                                background-color: #241866;
                            }
                        }
                    }

                    .see-all {
                        color: currentColor;
                        margin-top: 0px;
                        margin-inline-start: auto;

                        &:hover,
                        :focus {
                            outline: none;
                            text-decoration: underline;
                        }

                        svg {
                            fill: currentColor;
                            width: 16px;
                            height: 13px;
                        }
                    }

                    .presentation-info {
                        display: flex;
                        flex-direction: column;
                        margin-top: 24px;


                        a {
                            padding-bottom: 20px;
                            color: #005B92;
                            display: unset;

                            &:hover,
                            :focus {
                                outline: none;
                                text-decoration: underline;
                            }

                            &:after {
                                content: none !important;
                            }

                            &:last-child:after {
                                content: none !important;
                            }
                        }
                    }

                    .presentation-other-info span {
                        padding: 2px 8px 2px 8px;
                        width: fit-content;
                        border: 1px solid #ec5862;
                        border-radius: 3px;
                        opacity: 1;
                        font-size: 11px;
                        border: 1px solid #ec5862;
                        font-weight: 900;
                        line-height: normal;
                    }

                    .tools-bloc {
                        margin-top: 26px !important;
                    }

                    .presentation-other-info {
                        width: 100%;
                        display: flex;
                        /*    margin-top: 32px;
                        flex-direction: row;*/
                        flex-direction: column;
                        margin-top: 12px;


                        .retroplanning-info {
                            padding: 2px 8px 2px 8px;
                            width: fit-content;
                            border-color: #5B528C;
                            line-height: normal;
                        }

                        .calculator-info {
                            text-transform: uppercase;
                            border-color: #5B528C;
                            padding: 2px 8px 2px 8px;
                            width: fit-content;
                            line-height: normal;
                        }

                        .other-info {
                            width: 100%;
                            display: flex;
                            flex-direction: row;

                            div {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                            }

                            &:after {
                                content: none !important;
                            }

                            &:last-child:after {
                                content: none !important;
                            }
                            /*
                            &:first-child {
                                &:after {
                                    content: "";
                                    background-color: #DADADA;
                                    width: 1px;
                                    height: 47px;
                                    margin: 0px 24px 0px 24px;
                                }
                            }*/
                        }

                        a {
                            margin-top: 9px;
                            margin-bottom: 26px;
                            color: #005B92;
                            display: unset;

                            &:hover,
                            :focus {
                                outline: none;
                                text-decoration: underline;
                            }
                        }
                    }

                    .item {
                        width: 100%;
                        padding-right: 0px;
                        padding-bottom: 24px;

                        .item-wrap {
                            padding: 24px;
                            flex-direction: column;



                            .block-header {
                                margin-inline-end: auto;
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;
                            }

                            .icon-background {
                                width: unset;
                                height: unset;
                                margin: 0 16px 0 0;
                                background-image: none;

                                .icon {
                                    width: 24px;
                                    height: 24px;
                                    margin-top: 0;
                                }
                            }

                            .desc {
                                max-width: unset;
                            }

                            h2 {
                                margin-bottom: 0px;
                                font-size: 24px;
                                padding: 0;
                            }
                        }
                    }
                }

                .tendances {
                    margin-bottom: 16px;
                    margin-left: 0px;
                    width: 100%;
                    padding: 24px;

                    &:hover {
                        color: #fff;
                        background-color: rgba(236,88,98,.5);

                        h3 {
                            color: #fff;
                        }
                    }

                    h3 {
                        padding-bottom: 8px;
                        width: 200px;
                        overflow: hidden;
                        margin-right: auto;
                        font-size: 20px;
                    }

                    .block-header-trend {
                        align-items: center;
                        display: flex;
                        flex-direction: row-reverse;
                        padding: 0px;

                        h3 {
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                        }
                    }

                    .icon-background {
                        display: none;
                    }

                    &.disabled h3 {
                        width: 150px;
                    }
                }
            }

            .aside {
                padding: 16px;
                margin-left: 0px;
                width: 100%;
                margin-bottom: 40px;

                hr {
                    margin-top: 18px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

