
.user-dashboard-wrapper {
    .user-dashboard-widget {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #00000029;
        opacity: 1;

        .widget-header {
            /* Layout Properties */
            /* UI Properties */
            padding-top: 14px;
            padding-bottom: 14px;
            background: #F6F6F6 0% 0% no-repeat padding-box;
            opacity: 0.75;

            .widget-title{
                
            }
        }

        .widget-content {
            padding-top: 24px;
            padding-left: 32px;
            padding-bottom: 8px;

            .widget-content-line {
                padding-bottom: 18px;
            }
        }
    }
}
