@import "../variables/colors";

.lt-fs-display {
    font-size: 40px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h7 {
    font-size: 12px;
}

h8 {
    font-size: 10px;
}

h9 {
    font-size: 8px;
}

h10 {
    font-size: 6px;
}

.lt-fw-bold {
    font-weight: bold;
}

.fc-gray-1 {
    color: #EDEDED;
}

.fc-gray-2 {
    color: #DADADA;
}

.fc-gray-3 {
    color: #A3A3A3;
}

.fc-gray-4 {
    color: #757575;
}

.fc-gray-5 {
    color: #474747;
}

.fc-gray-6 {
    color: #323232;
}

.lt-fw-bolder {
    font-weight: bolder;
}

.fc-gray-1 {
    color: $gray-1;
}

.fc-gray-2 {
    color: $gray-2;
}

.fc-gray-3 {
    color: $gray-3;
}

.fc-gray-4 {
    color: $gray-4;
}

.fc-gray-5 {
    color: $gray-5;
}

.fc-gray-6 {
    color: $gray-6;
}

.lt-fw-bolder {
    font-weight: bolder;
}

.lt-bg-yellow {
    background-color: $lt-bg-yellow;
}
