@model LamyThematique.ViewModels.Web.Pages.UserProfile.UserProfileViewModel

@{

    var monProfil = ViewData["CurrentPage"] == "Profil" ? " current " : string.Empty;
}

<div id="user-nav-menu">
    <div class="nav-menu">
        <div class="nav-link">
            <img class="navbar-dashboard-icon" src="/images/Profile/gauge-high-solid.svg" alt="compteUtilisateurIcon">
            <ul>
                <li>
                    <a>
                        Tableau de bord
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-link">
            <img class="navbar-dashboard-icon" src="/images/Profile/briefcase-solid.svg" alt="compteUtilisateurIcon">
            <ul>
                <li>
                    <a class="@monProfil">
                        Mes contenus
                    </a>
                </li>
                <li><a href=""> Mes favoris</a></li>
                <li><a href="">Mes recherches</a></li>
                <li><a href="">Mon clausier</a></li>
                <li><a href="">Ma veille</a></li>
            </ul>
        </div>

        <div class="nav-link">
            <img class="navbar-dashboard-icon" src="/images/Profile/user-regular.svg" alt="compteUtilisateurIcon">

            <ul>

                <li>
                    <a>
                        Mon compte
                    </a>

                </li>
                <li><a class="monProfil" href=""> Profil </a></li>
                <li><a href="">Abonnement​</a></li>

            </ul>
        </div>
        <div class="nav-link">
            <img class="navbar-dashboard-icon" src="/images/Profile/comment-dots-regular.svg" alt="compteUtilisateurIcon">

            <ul>

                <li>
                    <a>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

