<footer>
    <div class="first-footer">
        <div class="first-footer-column">
            <ul>
                <li class="first-footer-column-title">Nos sites</li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.lamyline.fr/">Lamyline</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.legpj.com/">Guide des Professions Juridiques</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.liaisons-sociales.fr/">Liaisons sociales</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.solveo-rh.fr/">Solveo RH</a></li>
            </ul>
        </div>
        <div class="first-footer-column">
            <ul>
                <li>&nbsp;</li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.solveo-notaire.fr/">Solveo Notaire</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.lamydroitalimentaire.fr/">Lamy Droit Alimentaire</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://lamyconcurrence.fr/">Lamy Concurrence</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.wk-formation.fr/liaisons-sociales">Liaisons Sociales Formation</a></li>
            </ul>
        </div>
        <div class="first-footer-column">
            <ul>
                <li>&nbsp;</li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.lamyline.fr/">Découvrez Lamyline </a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.lamy-liaisons.fr/accueil.html">Qui sommes-nous ?</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.wkf.fr/">La boutique</a></li>
            </ul>
        </div>
        <div class="first-footer-column">
            <ul>
                <li class="first-footer-column-title">Nous contacter</li>
                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
                <li><img src="~/images/footer/Composant 24 – 7.png" /></li>
            </ul>
        </div>

        <div class="first-footer-column">
            <ul>
                <li class="first-footer-column-title">Nous suivre</li>
                <li>
                    <a target="_blank" class="footer-social-media" rel="noopener noreferrer" href="https://www.linkedin.com/showcase/liaisons-sociales-edition"><img alt="wk" src="~/images/footer/LinkedIn.png" /></a>

                    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCoEK8eMZxhEpq6d4JHCmvFg"><img alt="wk" src="~/images/footer/Youtube.png" /></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="second-footer">
        <a target="_blank" rel="noopener noreferrer" href="https://www.wkf.fr/accueil.html"><img alt="wk" src="~/images/footer/Logo.png" /></a>
        <a href="@Url.Action("CGU", "Footer")">CGU</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.lamy-liaisons.fr/conditions-generales-de-vente.html">CGV</a>
        <a href="@Url.Action("MentionsLegales", "Footer")">Mentions légales</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.wkf.fr/donnees-personnelles.html">Politique des données personnelles</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.lamy-liaisons.fr/politique-de-cookies.html">Politique relative aux cookies</a>
        <a href="javascript:Didomi.preferences.show()">Gestion des cookies</a>
        <div class="social-media-links">
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Lamyliaisons"><img alt="wk" src="~/images/footer/Twitter-28.png" /></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/lamy-liaisons/"><img alt="wk" src="~/images/footer/LinkedIn-28.png" /></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/&#x40;Lamy_Liaisons"><img alt="wk" src="~/images/footer/Youtube-28.png" /></a>
        </div>
    </div>
</footer>

<script src="~/js/viewsScripts/footer.js"></script>




































