<div class=" menu-thematique" style="border-right: 1px solid lightgray; padding-right: 40px;">
    <nav class="container container-fluid navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item bloc-menu home-icon">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-home-icon" src="~/css/fonts/header/house-chimney-solid.svg" alt="compteUtilisateurIcon" />
                </a>
            </li>
            <li class="nav-item bloc-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">THÉMATIQUES</a>
            </li>
            <li class="nav-item  bloc-menu">
                @Html.ActionLink("Vues d'ensemble", "Test","Home",null, new { @class = "nav-link text-dark" })
            </li>
            <li class="nav-item  bloc-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Fiches pratiquese</a>
            </li>
            <li class="nav-item  bloc-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Modèles</a>
            </li>

            <li class="nav-item  bloc-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">En Images</a>
            </li>
        </ul>
    </nav>
</div>